/*.o
/*.d
/agedu
/*.dat
/*.dump
/agedu.1
/Makefile.local
/install-sh
/aclocal.m4
/configure.in
/configure
/Makefile.in
/config.h.in
/Makefile
/depcomp
/missing
/stamp-h1
/autom4te.cache
/build.log
/build.out
/config.status
/config.log
/config.h
/manpage.html
/tree.html
/.deps
/*.exe
/*.obj
